.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

body {
    float: center;
}

section {
    float: left;
}

article {
    float: none;
}
  
aside {
    float: left;
}

h1 {
    float: none;
}
  
p{
    float: none;
}